importFrom("ribiosUtils",
           "haltifnot","assertContrast", "assertDesign", "assertDesignContrast", "ulen",
           "sortByCol")
importFrom("Biobase", "featureNames", "sampleNames","fData")
importFrom("methods", "show")
importFrom("lattice", "xyplot", "barchart")
importFrom("ribiosGSA", "geneSetPerm")
importFrom("ribiosAnnotation", "querydb", "annotateGeneIDs", "annotateGeneSymbols", "annotatemRNAs")
importFrom("BiocGenerics", "counts", "annotation")
importFrom("ribiosExpression",
           "groups", "dispGroups", "designMatrix", "contrastMatrix", "contrastNames", "annotate")
importFrom("edgeR",
           "cpm", "aveLogCPM", "estimateGLMRobustDisp")
importFrom("graphics", "pairs")
importFrom("limma", "plotMDS")

importClassesFrom("ribiosGSEA", "GeneSets")


## for RNA-seq analysis
exportClasses(EdgeResult, EdgeObject, EdgeGSE)

export(sigGene, sigGenes,
       sigPosGene, sigNegGene,
       sigPosGenes, sigNegGenes,
       sigGeneCounts,
       updateSigFilter)

export(filterByCPM,
       isAnyNA, replaceNAwithZero,
       estimateGLMDisp, fitGLM, testGLM)

exportMethods(BCV, show,
              plotBCV,
              normalize,
              dgeList, normFactors, cpmFilter,
              EdgeObject,
              isAnnotated)
exportMethods(commonDisp, "commonDisp<-")

export(annotate)
export(dgeTables, dgeTable)
export(writeDgeTables,
       truncatedDgeTable, writeTruncatedDgeTables)

export(modLogCPM)
export(voom,
       logFCgage,
       voomCamera)
export(fullEnrichTable)
export(hasCommonDisp, setCommonDispIfMissing)

export(normBoxplot)

export(plotMDS.EdgeObject) ## S3 function from limma
export(pairs.EdgeResult) ## S3 function from graphics
export(volcanoPlot)
export(smearPlot)


export(isAnnotated)

## MPS specific (TODO: to be factored into ribiosMP)
export(readMPS)
export(mpsAnnotateReporters)
export(doFisher)
export(sigGeneBarchart)
## export(edgeBuild, edgeTest,edgeRun)

## for riboseq
exportClasses(RiboSeq,
              riboSeqAnalysisObject)

exportMethods(RiboSeq,
              normalize,
              countRNA, countRPF,
              cpm, cpmRNA, cpmRPF,
              cpmRNAGroupSum, cpmRPFGroupSum,
              cpmFilter,
              featureNames, sampleNames)


export(translationEfficiency,
       doEdgeR,
       doBabel,
       summarizeBabel,
       mergeBabelEdgeR,
       babelAllRnks)

S3method(xyplot, RiboSeq)

export(riboseq.panel,
       xyplot, xyplot.RiboSeq,
       riboseq.panel,
       plotRNAMDS,
       plotRPFMDS,
       refBoxplot)

export(write.tableList)

export(readGseaGeneSet,
       doGeneSetTests)

## riboseq analysis object
exportMethods(setRnks)
export(cpmBoxplotFile,
       exprsScatterFile,
       mdsFile,
       teBoxplotFile,
       logFCscatterFile,
       babelVolcanoFile,
       rspaceFile,
       upstreamFile,
       functionFile,
       pathwayFile,
       fullTableFile,
       rnkFiles)
export(writeHTML)

export(mpsReporterAssocPathway,
       mpsReporterUpstream,
       mpsReporterUpstreamPos,
       mpsReporterUpstreamNeg,
       mpsReporterDownstream,
       mpsReporterAssocGO,
       mpsReporterAssocRCTM)
       

export(minGroupCount,
       countByGroup,
       maxCountByGroup,
       hasNoReplicate)
