<!DOCTYPE html>
<html>
<head>
  <title>Demo of ribiosUDIS</title>
  <style type="text/css">
  div.footnote {
    text-align:right;
    font-style:italic;
    font-size:90%
  }
  div.note {
    font-size:80%;
    color:#afafaf;
    padding-left:10px;
    padding-top:2px;
    padding-bottom:5px;
  }
  img.bih_rochelogo {
    display:block;
    top:15px;
    right:15px;
    position:absolute;
  }
  img.headimg {
    position:absolute;
    top:60px;
    right:15px;
    width:83px;
    height:16px;
  }
  
  </style>
</head>
<body>

<img class='bih_rochelogo' src=http://bioinfo.bas.roche.com:8080/images/tiny_roche_logo.gif>
<img class="headimg" src="figure/ribios-logo.png" alt="ribios logo"/>
<h1>A minimalistic demo of ribiosUDIS</h1>
<p>This is a brief demo showing the essential functionality of the <strong>ribiosUDIS</strong> package with two examples.</p>

<h2>An Affymetrix example</h2>
<p>Now we fecth an Affymetrix gene expression study performed in Chugai from UDIS with <code>ribiosUDIS</code>.</p>

First the <code>ribiosUDIS</code> library must be loaded
<!--begin.rcode label=library,message=FALSE
  library("ribiosUDIS")
  end.rcode-->

Next we fetch data from UDIS by the one-liner below:
<!--begin.rcode
  system.time(chugai.example <- getUDISexpression(id="UUO_Mouse_Chugai", idType="studyIdExternal"))
  end.rcode-->
<div class="note">Note: <code>system.time</code> is otherwise not necessary for the functionality of ribiosUDIS. It is for benchmarking only.The execution time may vary depending on factors including dataset size, client configuration, UDIS server working load, and network connection quality.</div>

We can examine the object:
<!--begin.rcode label=chugai
  print(chugai.example)
  end.rcode-->

<p>The <code>chugai.example</code> object is a <code>ExpressionSet</code> object which can be used by most downstream-analysis tools in <code>R/Bioconductor</code>.</p>

<p>Let's try to perform the hierarchical clustering of the samples:</p>
<!--begin.rcode html-boxplot,fig.align='center'
  plot(hclust(dist(t(exprs(chugai.example)))))
  end.rcode-->

<h2>An Illumina example</h2>
Next we fetch an Illumina dataset from UDIS using <code>ribiosUDIS</code> (assuming that the <code>ribiosUDIS</code> library has been loaded). 

<!--begin.rcode label=fib
  system.time(fib.example <- getUDISexpression(id=1324, idType="datasetId"))
  print(fib.example)
  end.rcode-->

Notice that this time we used <code>datasetId</code> instead of <code>studyIdExternal</code> as a keyword to get the data. In fact, <code>getUDISexpression</code> supports other two types of identifiers (<code>studyId</code> and <code>studyTitle</code>) as well.

<h2>Is it possible to extract the expression of one gene, without downloading the whole dataset?</h2>
Yes, try the following code to get the expression of UCP1 gene in a large dataset:

<!--begin.rcode label=UCP1
   system.time(myGene <- getUDISexpression(id=3220, idType="studyId", probeproptype="HUMANEG_ID", probeprop=7350))
   print(myGene)
end.rcode-->

<h2>Want to try more?</h2>
<p>We provide a full-sized example, starting with the download of data, guiding through visual inspections, and finally demonstrating the identificaiton of differentially expressed genes.
The R script can be downloaded <a href="src/demo.R">here</a>.</p>

<h2>Where can I find more help?</h2>
<p>For help information, run <code>help("getUDISexpression", package="ribiosUDIS")</code> in R.</p>


<div class="footnote">Tutorial by <a href="mailto:jitao_david.zhang@roche.com">Jitao David Zhang</a>. Last revision:2013-07-15.</div>
</body>
</html>
