## imports
importFrom("methods", setClass, setGeneric, setMethod)
importFrom("XML", xmlAttrs, xmlTreeParse, xmlRoot, xmlChildren, xmlName)
importFrom("parallel", mclapply)
importFrom("Rcpp", evalCpp)
importFrom("limma",
           "zscoreT", "squeezeVar",
           "lmFit", "contrasts.fit", "eBayes", "topTable",
           "camera", "mroast", "mroast.default", "romer")
importFrom("MASS", "mvrnorm")
importFrom("lattice", "xyplot", "panel.xyplot",
           "trellis.par.get")
importFrom("BioQC", "wmwTest")
importFrom("globaltest", "gt")
importFrom("Biobase", "exprs", "exprs<-")
importFrom("ribiosExpression",
           "designMatrix", "contrastMatrix", "truncateDgeTable", "limmaTopTable2dgeTable")
importFrom("ribiosUtils", "haltifnot", "uniqueNonNA")
importFrom("data.table", "data.table")
importFrom("dplyr", "%>%", "group_by", "ungroup", "arrange", "select")
           
import(ribiosIO)
import(ribiosMath)
import(ribiosUtils)

exportClass(GeneSets,
            gseaResItem, annoGseaResItem,
            annoGseaRes, annoGseaResList)

exportClass(FisherResult)

## exportClass(FisherResultList) ## currently not used

exportClass(CameraResult,
            CameraResultList)
export(GeneSet, GeneSets)
export(geneSetPerm)
exportClass("TwoGroupExprsSimulator",
            "BenchmarkDataset",
            "Benchmarker",
            "BenchmarkResult")

## S4 methods
export(gsName, gsDesc, gsGenes, gsGeneCount, gsGeneValues, gsCategory,
       "gsGenes<-", "gsGeneValues<-",
       isGseaCoreEnrich,
       gseaES, gseaNES, gseaNP, gseaFDR, gseaFWER,
       gsGeneIndices, gseaESprofile,
       gseaCoreEnrichThr, gseaCoreEnrichGenes, gseaLeadingEdgeGenes,
       annoGseaResItem, annoGseaRes)

export(gseaScore, gseaScores)

export(filterBySize)

## for back-compatibility
export(gsNames, gsDescs)

export(GSEA_DATA_DIR, GSEA_ANNOTATION_DIR,
       GSEA_GENESET_DIR,
       JAVA_BIN, GSEA_JAR, DEFAULT_GMT, DEFAULT_CHIP)

export(gseaData, gseaAnno,
       gseaGeneSet,
       dirGseaGeneSet,lsGseaGeneSet,
       javaBin, gseaJar, defaultGmt, defaultChip)

## GSEA fingerprints
export(gseaResQvalue, gseaResES,
       gseaFingerprint, gseaFingerprintMatrix)

## GSEA command-line executables
export(buildGSEAcomm)

## GMT functions
export(readGmt, writeGmt, parseGmt,
       appendGeneSets,
       matchGenes,
       readDefaultGenesets)

## Fisher test (using hypergeometric test)
export(gmthyper, gmthyperList)
export(hits, pValue, fdrValue,
       gsSize, minPValue, minFdrValue,
       sigGeneSet, sigGeneSetTable, topGeneSetTable,topOrSigGeneSetTable)
export(gsFisherTestCore, gsListFisherTestCore)
export(fisherTest)
export(fisherTestEdgeResult)
exportMethods("[")

## Nearest Template Prediction (ntp) algorithm
export(list2mat)
export(ntpTemplates, ntpBiTemplates)
S3method(print, ntpTemplates)
export(ntp)

## parsing GSEA methods
export(parseDTG, parseGSEAdir, parseGSEAedb, parseGSEAres)

## camera methods
export(biosCamera, gscCamera)

## simulation
export(nGenes, nSamples,
       tpGeneSetInd, deltaMean,
       tpGeneSetCor, bgDgeInd, bgDgeLength, bgDgePerc,
       bgDgeDeltaMean, bgCorLength, bgCorInd, bgCorPerc,
       bgCorCluster, bgCorSigma, randomSeed,
       simulators, genesets, pFunc, pValues,
       generateBenchmarkData, benchmark, ROC, AUC, ranks,
       avgRank, minRank, maxRank, rankStat, TPR, FPR)
export("nGenes<-", "nSamples<-",
       "tpGeneSetInd<-", "deltaMean<-",
       "tpGeneSetCor<-", "bgDgeInd<-",
       "bgDgeDeltaMean<-", 
       "bgCorInd<-", 
       "bgCorCluster<-", "bgCorSigma<-", "randomSeed<-",
       "pFunc<-")
export(as.matrix.TwoGroupExprsSimulator,
       avgCor,
       mutateBgByParams,
       defaultBgDgeDeltaMeanFunc,defaultByCorSigmaFunc,
       randomlyMutateBg,
       newTwoGroupExprsSimulator,
       pValues2BenchmarkResult)
export(pFuncFisherExact,
       pFuncCamera,
       pFuncCameraRank,
       pFuncBioQCtStat,
       pFuncMroast,
       pFuncRomer,
       pFuncGlobaltest,
       pFuncFisherMethod,
       pFuncTstatZtest,
       pFuncTstatTtest,
       pFuncTstatWMW,
       pFuncTstatChisq,
       pFuncLimmaAggregated)

export(fisherMethod)

export(newBenchmarker)

export(varParPerformance,
       plotROC, plotAUC, plotRanks)

export(tpDiff)

S3method(xyplot,BenchmarkResult)

## util
export(ronetGeneSetCategory)
export(readRonetGmt)

## Use Dynamic Lib
useDynLib(ribiosGSEA)
