export(gtiChiptypes,
       gtiChipnames) ## synonymous

export(gtiChipAnnotation,
       gtiTaxAnnotation)

export(annotateProbesets,
       annotateProbeIDs,
       annotateGeneIDs,
       annotateGeneSymbols)

export(gti2bioc, bioc2gti)


## deprecated functions
export(affychipNames,
       biosCurrentGeneSymbol,
       raceChiptypes,
       raceChipnames,
       raceChipAnnotation)

importFrom(ROracle, Oracle)
