importFrom("ribiosIO", "read_gct_matrix", "write_gct", "read_cls",
           "read_exprs_matrix", "readMatrix")
importFrom("ribiosArg", "parseFactor", "parseStrings")
importFrom("ribiosUtils",
           "rowscale", "summarizeRows", "removeInvarCol", "dfFactor",
           "headtail", "assertFile", "haltifnot","putColsFirst", "sortByCol")
importFrom("ribiosPlot",
           "pcaScores")
importFrom("Biobase", "featureNames", "exprs", "fData", "pData", "featureData", "phenoData")
importFrom("graph", "connComp")
importFrom("limma", "makeContrasts")
importFrom("methods", "as", "new")
importFrom("stats", "cor", "median", "model.matrix",
           "prcomp", "qt", "reshape", "sd")
importFrom("utils", "read.csv", "read.table", "write.table")
importClassesFrom("limma", "MArrayLM")


## export classes
exportClasses(DesignContrast)

## export generics
exportMethods(groups, dispGroups)

## export methods
export("rowscale")
export("keepMaxStatProbe")

## GSEA -- moved to ribiosGSEA package
## export("biosGSEAannotations",
##       BIOS_GSEA_ANNOTATION_DIR,
##       "biosGSEA")

## IO: import
export("readExprsMatrix")
export("ChipFetcher2ExpressionSet",
       "partek2ExpressionSet")
export("readGct",
       "readCls",
       "readGctCls")
export("readEset")
export("readFKtable")

## IO: export
export("writeGct",
       "writeCls",
       "writeGctCls")
export("writeEset")
export("writeSampleGroups")

## IO: format conversion
export("grp2gmt",
       "grpFiles2gmt")
export("formatGmt")

## eset
export("mergeEset")

## summarization/collapsing
export(summarizeProbesets,
       summarizeSamples,
       poolReplicates, avgReplicates)

## transformation
export("matrixToLongTable")
export("exprsToLong")
export("eSetToLongTable")

## kendallW
export("kendallW", "kendallWmat")

## annotation
export("annotate", "reannotate")

## truncate
export("limmaTopTable2dgeTable",
       "truncateDgeTable")

## obsolete
export(remainHighestVarProbe, keepHighestVarProbe, rankByCol, eset2gct, eset2cls)

## design-contrast
export(DesignContrast,
       groups, designMatrix,
       contrastMatrix, contrastNames,
       nContrast,
       contrastSampleIndices,
       parseDesignContrast)

export(splitPCA)
