importFrom("grDevices", "bmp", "dev.off", "jpeg", "pdf", "png",
           "postscriptFonts", "tiff")
importFrom("methods", "is", "setMethod")
importFrom("stats", "pchisq", "relevel")
importFrom("utils", "assignInNamespace", "getFromNamespace",
           "installed.packages", "packageDescription")

export(asNumMatrix,
       stringDataFrame2numericMatrix,
       atofMatrix)

export(summarizeRows, summarizeColumns, summarizeCols)
export(isError)

export(mmatch)
export(munion, mintersect, msetdiff, rsetdiff, compTwoVecs)
export(midentical)

export(imatch, imatchv, ipmatch, ipmatchv, matchv)

export(matchColumnIndex, matchColumn)

export(matchColumnName, assertColumnName, subsetByColumnName)

export(putColsFirst, sortByDimnames,
       removeColumns,
       replaceColumnName,
       sortByCol)
export(isVarCol, isInvarCol, removeInvarCol)
export(rowscale)
export(matrix2longdf,
       longdf2matrix)
export(list2df)

export(dfFactor)

export(basefilename, extname,
       ribiosTempdir, ribiosTempfile)

export(qqmsg)
export(haltifnot)
export(verbose)

export(pwdecode)

export(setDebug, unsetDebug,
       isDebugging, isIntDebugging)
export(scriptInit)

export(registerLog, clearLog, flushLog, doLog, writeLog)

export(relevels, relevelsByNamedVec, relevelsByNotNamedVec,
       cutInterval, refactorNum)
export(dfFactor2Str)
export(ofactor)

##export(atomGrep, orderedGrep)

export(strtoken, countTokens,
       shortenStr, fixWidthStr)

export(reload)

export(stubborngc)

export(headtail, headhead, tailtail)

export(uniqueLength, ulen)

export(chosenFew)

export(openFileDevice, closeFileDevice)

export(na.false)

export(isDir, checkDir, assertDir,
       createDir,
       checkFile, assertFile)

export(allIdentical)

export(libordie)

export(isMaxStatRow, keepMaxStatRowInd, keepMaxStatRow)

export(trim)

export(qsystem, rmat)

export(silencio)

export(percentage)

export(assertDesign, assertContrast, assertDesignContrast)
export(identicalMatrixValue, identicalMatrix)

export(pScore)

export(jaccardIndex, pairwiseJaccardIndex)

## .registration=TRUE is only valid when the routines have been registered
useDynLib(ribiosUtils, .registration=TRUE,.fixes="C_")

##--------------------##
## Deprecation
##--------------------##
export(nField)
export(replaceColumnNames)
