importFrom("utils", "read.csv", "read.table", "write.table")
importFrom("ribiosUtils", "trim")

export(read_gmt_list,
       write_gmt)

export(read_exprs_matrix)
export(iofile,
       loadFile)

export(loadObject)

export(isGctFile)

export(read_gct_matrix,
       read_gctstr_matrix,
       write_gct)

export(read_cls,
       write_cls,
       read_factor,
       write_factor,
       is_factor_file,
       is_cls_file,
       read_pheno,
       read_pheno_factor)

export(read_chip)

export(read_trimmed_lines)

export(read_biokit_exprs)

export(read_fasta,
       write_fasta)

export(write.tableList)

export(find_ampliseq, read_ampliseq, find_and_read_ampliseq)

export(writeMatrix, readMatrix, readTable)

export(strList2DataFrame, writeStrList)

export(read_david)

export(loadRDS)

export(read_illumina_sampleSheet)

useDynLib(ribiosIO, .registration=TRUE)
