importFrom(grDevices, heat.colors, colorRampPalette, blues9, col2rgb, dev.print, gray, palette, pdf, rgb, xy.coords)
importFrom("graphics", "abline", "arrows", "axis", "grid", "hist",
             "image", "layout", "legend", "lines", "mtext", "par",
             "plot", "plot.new", "plot.window", "box", "polygon", 
	     "rect", "strwidth", "text",
             "title")
importFrom("stats", "as.dendrogram", "ave", "cov", "density", "dist",
           "hclust", "median", "order.dendrogram", "qchisq",
           "quantile", "reorder", "sd")
importFrom("stats", "prcomp")
importFrom("utils", "assignInNamespace")
importFrom("methods", "show")
importFrom(lattice, panel.xyplot, col.whitebg, lattice.options)
importFrom(ribiosUtils, assertFile, basefilename, chosenFew, haltifnot, percentage)
importFrom(methods, setClass, setGeneric, setMethod, is, new)
importFrom(RColorBrewer, brewer.pal, brewer.pal.info)
importFrom(grid, pushViewport, plotViewport, grid.layout, unit, gpar, viewport, grid.text)

## class
exportClass(fcol)
exportMethods(fcol, fcbase)

## utils
export(compactPar)
export(squareLayout)
export(intRange)
export(p2asterisk)
export(compactTrellis,
       setCompactTrellis)
export(getLims)

export(rowVars,
       cascadeOrder)

export(radian2degree,
       degree2radian,
       ellipse,
       confEllipse)

## biosHeatmap
export(biosHeatmap)

## biosHeatmap aux
export(bound,
       boundNorm,
       guessWH)

## robustDist for biosHeatmap
export(robustDist)

## color for factors
export(fcbrewer)
export(brewer.pal.factorLevels,
       brewer.pal.factor)

## color palettes
export(colorpanel)

## three-colors
export(royalbluered,
       royalredblue,
       royalbluegrayred,
       royalredgrayblue,
       turyeb,
       redgreen,
       greenred,
       bluered,
       redblue,
       blueblackred,
       redblackblue,
       cyanblackyellow,
       yellowblackcyan,
       blackredyellow,
       blackgoldred,
       whiteblueblackheat,
       heat)

## two-colors
export(blackyellow,
       yellowblack,
       whiteblue,
       whitered,
       blackred,
       blackgreen,
       whiteblack,
       blackwhite,
       magentayellow,
       yellowmagenta)

export(midCol)

## display functions
export(twocolor.panels,
       threecolor.panels,
       display.threecolor.panels,
       display.twocolor.panels)

## histogram functions
export(qHist, xclipHist)
export(histMat)

## PCA
export(PCAScoreMatrix)
export(expVar, expVarLabel)
export(pcaScores)
export(plotPCA)

S3method(as.matrix, PCAScoreMatrix)
S3method(as.data.frame, PCAScoreMatrix)
S3method(print, PCAScoreMatrix)
S3method(expVar, PCAScoreMatrix)
S3method(expVarLabel, PCAScoreMatrix)
S3method(plotPCA, prcomp)
S3method(expVar, prcomp)
S3method(expVarLabel, prcomp)

export(jitter.xyplot)

export(idev, ipdf)

export(pdf2png)

## plotVenn
export(plotVenn)
