importFrom("ribiosUtils", "trim", "isDebugging", "qqmsg", "extname")

export("getArg","existArg")

export("parseNumVec",
       "parsePairs",
       "parseStrings")

export("makeFactor",
       "parseFactor")

export("scriptName")

export("argParse",
       "argIsInit",
       "argGet",
       "argGetPos",
       "argPresent")

## .registration=TRUE is only valid when the routines have been registered
useDynLib(ribiosArg,.registration=TRUE, .fixes="C_")
